<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Phidgets.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>72076A4A1C46C73A00B35C71</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>72076A631C46C73A00B35C71</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>72076A6E1C46C73A00B35C71</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
